.jumbotron{
	margin: 40px 0 20px 0;
	height: 260px;
	padding: 18px;
	color: #fff;
	text-shadow: 1px 1px 2px #000;
	background: url(../img/bg1.jpg);
}

button[data-target="#myModal"]{
	box-shadow: 1px 1px 6px rgba(0,0,0,.6);
}

.thumbnail{
	border:none;
}

.thumbnail img{
	max-width: 320px;
}

.promo .thumbnail:hover img{
	border-radius: 2px;
	box-shadow: 1px 1px 12px rgba(0,0,0,.4);
	transition: all ease .2s;
	transform: scale(1.1);
}